<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}"> 
</head>
<body id="img-fundo2">
  
    <!--Menu -->   
    <div class="logo"></div><img src="../static/img/logo.png" alt=logo></div>
    <div class="link">
    <a href= "/">Home |</a>
    <a href="/quemsomos/"> Quem somos | </a>
    <a href="/Contato/"> Contato </a>
    </div>
<br>
<br>
<!--Corpo da página TXT -->
<div>
    <h2>Entre em contato</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
 
    <p></p><hr>
      
      <label for="e-mail">Seu e-mail:</label><br>
      <input type="e-mail" id="e-mail" name="e-mail"><br>
      <label for="assunto">Assunto:</label><br>
      <input type="text" id="Assunto" name="assunto"><br>
      <label for="descrição">Descrição:</label><br>
      <textarea id="descrição" name="descrição" rows="5" cols="33"></textarea> <br>
      <input type="submit" id="Enviar">


      <h4>Todos os direitos reservados</h4>  
  

   
  
  </body>
  </html>
  