<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}"> 
   
</head>
               
<!--Menu -->   
        <div class="logo"></div><img src="../static/img/logo.png" alt=logo></div>
        <div class="link"><a href="HOME.html">Home | </a><a href="quemsomos.html">Quem somos | </a><a href="Contato.html">Contato</a></div>

<!--Corpo da página IMG -->
  
<div class="capa">

<img src="../static/img/capa.png" alt=capa width="90%" height="412px">

</div>

<!--Corpo da página TXT -->
   <div>
        <h1>Sobre a universidade</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, error deleniti. Incidunt temporibus aspernatur minus id autem! Dolores delectus praesentium nesciunt nemo alias labore, ab amet atque, dolorum nihil rerum!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, error deleniti. Incidunt temporibus aspernatur minus id autem! Dolores delectus praesentium nesciunt nemo alias labore, ab amet atque, dolorum nihil rerum!</p>
        <h4>Todos os direitos reservados</h4> 
   
    </div>
    

<body>

</body>    

    
</html>