<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quem somos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}"> 
    
</head>
<body id="img-fundo2">
  
    <!--Menu -->   
    <div class="logo"></div><img src="../static/img/logo.png" alt=logo></div>
    <div class="link"><a href= "HOME.html">Home | </a><a href="quemsomos.html">Quem somos | </a><a href="../templates/Contato.html">Contato</a></div>
<br>
  <!--Corpo da página TXT -->
  <div>
    <h2>Quem somos</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, error deleniti. Incidunt temporibus aspernatur minus id autem! Dolores delectus praesentium nesciunt nemo alias labore, ab amet atque, dolorum nihil rerum!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, error deleniti. Incidunt temporibus aspernatur minus id autem! Dolores delectus praesentium nesciunt nemo alias labore, ab amet atque, dolorum nihil rerum!</p>
    
  <h2>5 motivos para estudar</h2>
  <ol class="motivos">
  <li>Material sempre atualizado</li>
  <li>Tablets em sala de aula</li>
  <li>Professores renomados</li>
  <li>Universidade bem avaliada</li>
  <li>Ótima localização</li>
</ol>

<p></p><hr size> 

       
    <h2>Objetivos</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis debitis sit expedita explicabo cum asperiores magni quas quis dolor doloribus, quae autem mollitia, labore ea necessitatibus nostrum, eaque optio odio.</p>
    <h4>Todos os direitos reservados</h4> 

</div>  
    
    
</body>
</html>